.form{
    width:max-content;
    height:30rem;
    border: 5px solid brown;
}

label{
    display: inline-block; 
    width: 130px;
    padding:0.5rem;
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 4rem 0 2.4rem;
    border-radius: 5%;
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(161, 160, 160);
}
input {
    width:46.25rem;
    font-size: 1rem;
    padding: 0.4rem;
    border: 0.1rem solid red;
}
button{
    margin: 2rem 2.4rem 2rem 2.4rem;
    color: white;
    color: rgb(71, 157, 190) ;
    font-size: larger;
    width: 6.4rem;
    height: 2.4rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0.25rem 0.25rem 0.25rem grey;
}
button:hover{
    background-color: rgb(10, 128, 175) ;
    color: white;
}